*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: "Rubik", sans-serif;
}
header{
    height: 80px;
}
nav ul li{

    padding : 0 10px 0 10px;
    
}
main .section1{
    background-color: #ffcccc;
    padding-bottom: 72px;
}
section2{
    height: 480px;
}
article{
    height: 516px;
}
.question-sec{
    padding: 5rem;
    margin-top: 5rem;
}
.question-sec .btn{
    width: 100%;
}
.footer{
    padding-top: 80px;
    padding-bottom: 60px;
}
.footer .container{
    height: 400px;  
}
.footer .nav-class a{
    font-size: 14px;
}
.footer h5{
    font-size: 12px;
    padding-top: 20px;
    letter-spacing: 2px;
    opacity: 75%;
}
.social-media{
    opacity: 85%;
}
.footer-bottom{
    font-size: 11px;
    font-weight: 200;
}